<div>
  <div>
    <h1>
      Browse by genre
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new genre (DELETE?)
    </h2>

    <form action="/insert_genre" method="post">
      <div>
        <label for="book_id_box">
          Book
        </label>

        <input type="text" id="book_id_box" name="query_book_id">
      </div>

      <div>
        <label for="genre_box">
          Genre
        </label>

        <input type="text" id="genre_box" name="query_genre">
      </div>

      <button>
        Create genre
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>Genre</th>
        <th></th>
      </tr>

      <% @list_of_genres.each do |a_genre| %>
      <tr>
        <td>
          <%= a_genre.id %>
        </td>

        <td>
          <%= a_genre.genre %>
        </td>

        <td>
          <a href="/genres/<%= a_genre.id %>">
            Show books
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
