<hr>

<div>
  <h1>
    Browse by Genre
  </h1>
</div>

<hr>

<div class="table-responsive">
  <table class="table table-hover align-middle">
    <tr>
      <th>
        Genre 
      </th>

      <th>
        Number of books 
      </th>

      <th>
      </th>
    </tr>

    <% @list_of_genre_lists.each do |a_genre_list| %>
      <tr>
        <td>
          <%= a_genre_list.genre_name %>
        </td>

        <td>
          <%= a_genre_list.genres_book_associations.length() %>
        </td>

        <td>
          <a href="/genre_lists/<%= a_genre_list.id %>">
            Show details
          </a>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<hr>

<div>
  <h2>
    Add a new genre
  </h2>

  <form action="/insert_genre_list" method="post">
    <div>
      <input type="text" id="genre_name_box" name="query_genre_name" placeholder="Type genre name here...">
    </div>

    <button type="button" class="btn btn-outline-dark">
      Add genre
    </button>
  </form>
</div>
