<h1> Author Name </h1> 

<div> [Photo] </div>

<hr> 

<h2> List of Books </h2> 

<table border="1">
  <tr>
    <th> Title (link to book details page) </th>
    <th> Genre (link to genre page) </th> 
    <th> Synoposis </th> 
    <th> Publication Date </th> 
    <th> Average Rating </th> 
  <tr> 
</table>
