<hr>

<div class="text-center">
  <div>
    <h1>
      Browse by Author 
    </h1>
  </div>

<hr>

<div class="table-responsive">
  <table class="table table-hover align-middle">
    <thead>
      <tr>
        <th scope="col">
          Name
        </th>

        <th scope="col">
          Photo
        </th>

        <th scope="col">
        </th>
      </tr>
    </thead>
    <tbody>
      <% @list_of_authors.each do |an_author| %>
        <tr>
          <td>
            <%= an_author.name %>
          </td>

          <td>
            <img src="<%= an_author.photo %>" class="img-thumbnail">
          </td>

          <td>
            <a href="/authors/<%= an_author.id %>">
              Show details
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<hr>

<div>
  <div>
    <h2>
      Don't see an author? Add here!
    </h2>

    <form action="/insert_author" method="post">
      <div>
        <label for="name_box">
          Name 
        </label>

        <input type="text" id="name_box" name="query_name" placeholder="First Name Last Name">
      </div>

      <div>
        <label for="photo_box">
          Link to photo 
        </label>

        <input type="text" id="photo_box" name="query_photo" placeholder="http://image_here.jpg">
      </div>

      <div>
        <label for="bio_box">
          Biography 
        </label>

        <textarea id="bio_box" name="query_bio"></textarea>
      </div>

      <button class="btn btn-outline-dark">
        Create author
      </button>
    </form>
  </div>
</div>
</div>
