<div>
  <div>
    <h1>
      <%= @the_author.name %>
    </h1>

    <div>
      <div>
        <a href="/authors">
          Go back
        </a>
      </div>
    </div>

    <dl>
      <dd>
        <%= @the_author.photo %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_author.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_author.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<h2> List of Books </h2> 

<table border="1">
  <tr>
    <th> Title (link to book details page) </th>
    <th> Genre (link to genre page) </th> 
    <th> Synoposis </th> 
    <th> Publication Date </th> 
    <th> Average Rating </th> 
  <tr> 
</table>

<hr>
