<h1> Welcome USERNAME </h1> 

<h2> My TBR </h2> 

<table border = "1">
  <tr> 
    <th>
      Status
    </th>

    <th>
      Title (link to Book Details page)
    </th>

    <th>
      Author (link to Author page)
    </th>

    <th>
      Publication Year
    </th>

    <th>
      Genre (link to Genre page)
    </th>

    <th>
      Date Added
    </th>

    <th>
      Synoposis 
    </th>

    <tr>
      <td> 
        Blah
      </td>
    </tr>

</table>

<dt> Add new book (POTENTIALLY REMOVE, rely on only adding books already uploaded into TBR) </dt>
  <form>
    <label for ="new_TBR"> Title </label>
    <input id ="new_TBR" type="text" name="input_TBR" value="assign_value"> 
   
    <label for ="new_author"> Author </label>
    <input id ="new_author" type="text" name="input_author" value="assign_value">   

    <label for ="new_pub_year"> Publication Year </label>
    <input id ="new_pub_year" type="text" name="input_pub_year" value="assign_value"> 

    <label for ="new_genre"> Genre </label>
    <input id ="new_genre" type="text" name="input_pub_year" value="assign_value"> 
   
    <button> Add to TBR </button>
  </form>

<h2> Completed Books </h2>

<table border = "1">
  <tr> 
    <th>
      Title (link to details page)
    </th>

    <th>
      Author (link to authors page)
    </th>

    <th>
      Rating
    </th>

    <th>
      Review
    </th>

    <th>
      Update Review
    </th>

    <th>
      Delete Review
    </th>

    <th>
      Date Completed (time marked COMPLETE)
    </th>

    <tr>
      <td> 
        Blah
      </td>
    </tr>

</table>

<h2> Recommendations </h2> 

<ul> 
  <li> Title 1 (link to details page) </li>
  <li> Title 2 </li> 
</ul>
