<div>
  <div>
    <h1>
      Review completed book!
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <form action="/insert_review" method="post">
      <div>
        <label for="book_id_box">
          Book
        </label>

        <input type="text" id="book_id_box" name="query_book_id">
      </div>

      <div>
        <input type="hidden" id="user_id_box" name="query_user_id" value="<%session[:user_id]%>">
      </div>

      <div>
        <label for="rating_box">
          Rating
        </label>

        <input type="text" id="rating_box" name="query_rating">
      </div>

      <div>
        <label for="commentary_box">
          Commentary
        </label>

        <textarea id="commentary_box" name="query_commentary" rows="3"></textarea>
      </div>

      <button>
        Create review
      </button>
    </form>
  </div>
</div>

<hr>
